body, html {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent scrolling */
  width: 100%;
  height: 100%;
}

.app-header {
  width: 100%;
  height: 60px; /* Adjust height as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #242424; /* Adjust background color as needed */
  color: #fff;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.app-container {
  height: calc(100vh - 60px); /* Subtract header height */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 60px; /* Add margin to account for fixed header */
  overflow: hidden; /* Prevent scrolling within the container */
}

.color-container {
  display: flex;
  width: 100vw; /* Ensure it fills the viewport width */
  height: 100%; /* Fill the remaining height */
}

.color-option {
  flex: 1;
  height: 100%; /* Ensure it fills the container height */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.favorite-color-screen {
  width: 100vw; /* Ensure it fills the viewport width */
  height: 100vh; /* Ensure it fills the viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 2rem;
  text-align: center;
  overflow: hidden; /* Prevent any scrolling */
}